---
import { BorderedLayout } from "@/layouts/BorderedLayout";
import Layout from "@/layouts/Layout.astro";
import { Seo } from "astro-seo-meta";
import { Navbar } from "@/components/Navbar";
import { Logo } from "@/components/Logo";
import { Button } from "@/components/ui/button";
import Hero from "@/components/Hero.astro";
import { Integrations } from "@/components/Integrations";
import Features from "@/components/Features.astro";
---

<Layout>
  <Seo title="Marz | Premium VPN Interface" />
  <BorderedLayout>
    <div class="pt-5 pb-10">
      <div class="px-6 flex gap-2 items-center">
        <Logo />
        <Navbar />
        <Button> Get Started </Button>
      </div>
      <hr class="mt-5" />
      <Hero />
    </div>
    <Integrations />
    <Features />
    <!--
    App Screenshots with details
    Pricing
    CTA
    FAQ
    Footer
    -->
    <div class="py-20"></div>
  </BorderedLayout>
</Layout>
