---
import BorderedLayout from "@/layouts/BorderedLayout.astro";
import { Navbar } from "@/components/Navbar";
import { Logo } from "@/components/Logo";
import { Button } from "@/components/ui/button";
import Hero from "@/components/Hero.astro";
import { Integrations } from "@/components/Integrations";
import Features from "@/components/Features.astro";
import HowItWorks from "@/components/HowItWorks.astro";
import Pricing from "@/components/Pricing.astro";
import { FAQ } from "@/components/FAQ";
import CTA from "@/components/CTA.astro";
import Footer from "@/components/Footer.astro";

const { pathname } = Astro.url;
---

<title>Marz | Premium VPN Interface</title>
<BorderedLayout>
  <div class="pb-10">
    <div class="px-6 flex gap-2 items-center border-b p-5">
      <Logo />
      <Navbar currentPathname={pathname} />
      <a href="/#pricing" class="hidden md:flex">
        <Button>Join Now</Button>
      </a>
    </div>
    <Hero />
  </div>

  <Integrations />

  <Features />
  <hr />

  <HowItWorks />

  <Pricing />

  <FAQ client:visible />

  <hr class="mt-20" />
  <CTA />

  <Footer />
</BorderedLayout>
