---
import { Button } from "@/components/ui/button";
import { DownloadIcon, FileIcon, GlobeIcon, SettingsIcon } from "lucide-react";
import { Globe } from "@/components/ui/globe";
import { DottedMap } from "@/components/ui/dotted-map";
import { FlickeringGrid } from "@/components/ui/flickering-grid";
import { OrbitingPanels } from "@/components/OrbitingPanels";
import { ServersBeam } from "@/components/ServersBeam";
---

<!--
Dotted Map - Globe
UI like a real VPN app with interactive map and live update of status of the subscriptions

Animated Beam
No more "dead" connections -> The app pings and verifies server health before it ever connects you

Orbiting Circles
Integrated with All types of panels -> panel logos in circle


Direct, one-tap links to providers renewal and support pages -> UI showing easy access to support

-->
<div class="flex relative">
  <div class="flex-2/3">
    <div class="border-b w-full p-10 md:p-14">
      <div class="flex flex-col items-center justify-center gap-2">
        <h2
          class="text-3xl md:text-4xl font-medium tracking-tighter text-center text-balance pb-1"
        >
          Empower The Digital Experience
        </h2>
        <p class="text-muted-foreground text-center font-medium text-balance">
          Marz bridges the gap between you and your users. It’s not just a
          connection, it’s a complete, supported ecosystem where troubleshooting
          is intuitive and help is never more than a tap away.
        </p>
      </div>
    </div>
    <div class="aspect-square grid grid-cols-1 md:grid-cols-2 overflow-hidden">
      <div
        class="overflow-hidden flex flex-col items-start justify-end w-full aspect-square p-0.5 relative after:absolute after:-top-0.5 after:left-0 after:z-10 after:h-px after:w-screen after:bg-border after:content-[''] group"
      >
        <DottedMap
          client:load
          server:defer
          className="absolute scale-[1.3] transform-gpu -translate-y-22 -translate-x-4"
        />
        <div
          class="flex-col gap-2 p-6 pt-20 bg-linear-to-b from-transparent to-30% to-background h-fit z-20"
        >
          <h3 class="text-lg tracking-tighter font-semibold">
            Visual VPN Interface
          </h3>
          <p class="text-muted-foreground text-justify">
            An interactive map-based UI that feels like a premium VPN, featuring
            live subscription status and geographic server tracking at a glance.
          </p>
        </div>
      </div>
      <div
        class="isolate justify-end relative flex flex-col w-full h-full aspect-square p-0.5 before:absolute before:-left-0.5 before:top-0 before:z-10 before:h-screen before:w-px before:bg-border before:content-[''] after:absolute after:-top-0.5 after:left-0 after:z-10 after:h-px after:w-screen after:bg-border after:content-[''] group"
      >
        <OrbitingPanels />
        <div
          class="flex-col gap-2 p-6 pt-20 bg-linear-to-b from-transparent to-30% to-background h-fit z-20"
        >
          <h3 class="text-lg tracking-tighter font-semibold">
            Universal Panel Support
          </h3>
          <p class="text-muted-foreground text-justify">
            Seamlessly integrated with all major Xray-provider panels, including
            Marzban, 3X-UI, Hiddify, Remnawave and all the rest of the panels
            that provide universal subscription links.
          </p>
        </div>
      </div>
      <div
        class="isolate justify-end flex flex-col items-start w-full h-full aspect-square p-0.5 relative before:absolute before:-left-0.5 before:top-0 before:z-10 before:h-screen before:w-px before:bg-border before:content-[''] after:absolute after:-top-0.5 after:left-0 after:z-10 after:h-px after:w-screen after:bg-border after:content-[''] group"
      >
        <FlickeringGrid client:load className="absolute" maxOpacity={0.07} />
        <ServersBeam client:load />
        <div
          class="flex-col gap-2 p-6 pt-20 bg-linear-to-b from-transparent to-30% to-background/70 h-fit z-20"
        >
          <h3 class="text-lg tracking-tighter font-semibold">
            Pre-Connect Verification
          </h3>
          <p class="text-muted-foreground text-justify">
            No more dead links. The app automatically pings and verifies server
            health before you connect, ensuring every tap leads to a working
            tunnel.
          </p>
        </div>
      </div>
      <div
        class="isolate flex flex-col items-start justify-end w-full h-full aspect-square p-0.5 relative before:absolute before:-left-0.5 before:top-0 before:z-10 before:h-screen before:w-px before:bg-border before:content-[''] after:absolute after:-top-0.5 after:left-0 after:z-10 after:h-px after:w-screen after:bg-border after:content-[''] group"
      >
        <div
          class="flex-col gap-2 p-6 pt-20 bg-linear-to-b from-transparent to-30% to-background h-fit z-20"
        >
          <h3 class="text-lg tracking-tighter font-semibold">
            Direct Provider Bridge
          </h3>
          <p class="text-muted-foreground text-justify">
            Instant access to your provider. One-tap links take you directly to
            their renewal and support pages, closing the gap between you and
            your service.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex-1/3 border-l p-10 flex flex-col gap-2 items-center justify-between"
  >
    <img
      src="/android-mock.png"
      class="max-w-100 max-h-[80vh] sticky top-20 mb-16"
    />
    <Button variant="outline">
      <DownloadIcon />
      Download App
    </Button>
  </div>
</div>
