---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div
    class="mx-auto min-h-screen down-sm:max-w-[calc(100vw-40px)] container lg:max-w-8xl border-x"
  >
    <slot />
  </div>
</Layout>
